# Datetime Index

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# 2019년 1월 24일
today = datetime(2019,1,24)

In [4]:
# 0시, 0분 디폴트값
today

datetime.datetime(2019, 1, 24, 0, 0)

In [5]:
# 시,분,초 지정
today = datetime(2019,1,24,13,39)

In [6]:
today

datetime.datetime(2019, 1, 24, 13, 39)

In [7]:
today.day

24

In [8]:
today.hour

13

### Pandas with Datetime Index

In [9]:
# datetime 객체로 list 생성 예시
dates = [datetime(2019,1,23), datetime(2019,1,24)]

In [10]:
# 인덱스 전환
dt_index = pd.DatetimeIndex(dates)
dt_index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [11]:
# 랜덤 데이터를 생성하고 인덱스와 함께 DataFrame 만들기
data = np.random.randn(2,2)
cols = ['A','B']
df = pd.DataFrame(data=data, index=dt_index, columns=cols)

In [12]:
df

                   A         B
2019-01-23 -1.093658  0.300429
2019-01-24  1.217856  0.792852

In [13]:
df.index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [14]:
# Latest Date Location
df.index.argmax()

1

In [15]:
df.index.max()

Timestamp('2019-01-24 00:00:00')

In [16]:
# Earliest Date Location
df.index.argmin()

0

In [17]:
df.index.min()

Timestamp('2019-01-23 00:00:00')