In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('09.2 KOSPI200 F 201712.xlsx', 'Sheet1', index_col='일자')
df.head()

              선물가격      지수
일자
2017/09/01  308.40  307.78
2017/09/04  305.60  304.19
2017/09/05  304.85  304.06
2017/09/06  304.30  303.18
2017/09/07  308.10  306.97

In [3]:
type(df.index)

pandas.core.indexes.base.Index

In [4]:
df.index = pd.to_datetime(df.index)

In [5]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
def futures_price (S, r, d, T, t0):
    t = np.busday_count(t0.date(), T.date()) / 252
    F = S * np.exp((r-d)*t)
    return F

In [7]:
T = pd.to_datetime('2017-12-14')     # 최종거래일
r = 0.0225     # 이자율
d = 0.015     # 배당률
for n in (df.index):
    t0 = n     
    S = df.loc[n, '지수']
    F = futures_price (S, r, d, T, t0)
    f = '{:,.2f}'.format(F)
    df.loc[n, '이론가1'] = f

In [8]:
def S_futures_price (S, r, d, T, t0):
    t = (T - t0).days / 365
    F = S * (1 + (r-d) * t)
    return F

In [9]:
T = pd.to_datetime('2017-12-14')     # 최종거래일
r = 0.0225     # 이자율
d = 0.015     # 배당률
for n in (df.index):
    t0 = n     
    S = df.loc[n, '지수']
    F = S_futures_price (S, r, d, T, t0)
    f = '{:,.2f}'.format(F)
    df.loc[n, '이론가2'] = f

In [10]:
df

              선물가격      지수    이론가1    이론가2
일자
2017-09-01  308.40  307.78  308.46  308.44
2017-09-04  305.60  304.19  304.85  304.82
2017-09-05  304.85  304.06  304.71  304.68
2017-09-06  304.30  303.18  303.82  303.80
2017-09-07  308.10  306.97  307.61  307.59
2017-09-08  308.35  307.43  308.06  308.04
2017-09-11  311.50  309.83  310.46  310.43
2017-09-12  311.45  310.42  311.04  311.01
2017-09-13  310.85  310.00  310.61  310.59
2017-09-14  313.60  312.52  313.13  313.10
2017-09-15  314.55  313.69  314.29  314.27
2017-09-18  320.05  318.93  319.53  319.50
2017-09-19  319.40  318.51  319.10  319.07
2017-09-20  319.15  318.48  319.06  319.04
2017-09-21  319.40  318.25  318.82  318.80
2017-09-22  317.10  316.71  317.27  317.25
2017-09-25  317.15  316.40  316.95  316.92
2017-09-26  315.15  314.29  314.82  314.80
2017-09-27  314.75  313.82  314.34  314.32
2017-09-28  314.95  313.85  314.36  314.35
2017-09-29  317.65  316.27  316.78  316.76
2017-10-10  323.50  322.49  322.94  322.92
2017-10-11  326.60  326.12  326.57  326.55
2017-10-12  329.00  328.11  328.55  328.53
2017-10-13  328.65  327.35  327.78  327.77
2017-10-16  328.85  327.82  328.24  328.22
2017-10-17  329.15  328.51  328.92  328.90
2017-10-18  329.20  328.40  328.80  328.78
2017-10-19  327.45  326.47  326.86  326.85
2017-10-20  329.60  328.89  329.27  329.26
...            ...     ...     ...     ...
2017-11-03  339.70  338.83  339.12  339.12
2017-11-06  337.50  337.40  337.68  337.66
2017-11-07  337.10  336.76  337.03  337.02
2017-11-08  338.60  337.80  338.06  338.05
2017-11-09  337.00  337.14  337.39  337.38
2017-11-10  336.25  335.96  336.20  336.19
2017-11-13  334.90  334.33  334.56  334.54
2017-11-14  334.65  333.62  333.84  333.83
2017-11-15  332.50  332.17  332.38  332.37
2017-11-16  334.65  334.36  334.56  334.55
2017-11-17  334.30  334.18  334.37  334.37
2017-11-20  332.80  332.92  333.10  333.08
2017-11-21  334.20  333.51  333.68  333.67
2017-11-22  335.90  335.49  335.65  335.64
2017-11-23  334.80  334.51  334.66  334.65
2017-11-24  335.60  335.44  335.58  335.58
2017-11-27  329.25  329.53  329.66  329.65
2017-11-28  331.05  330.99  331.11  331.10
2017-11-29  331.05  330.68  330.79  330.78
2017-11-30  325.60  325.25  325.35  325.34
2017-12-01  325.20  324.78  324.87  324.87
2017-12-04  328.35  328.77  328.85  328.84
2017-12-05  329.95  329.61  329.68  329.67
2017-12-06  325.00  324.52  324.58  324.57
2017-12-07  324.05  323.59  323.64  323.64
2017-12-08  324.75  324.68  324.72  324.72
2017-12-11  324.85  325.09  325.12  325.11
2017-12-12  323.80  324.07  324.09  324.08
2017-12-13  326.20  326.18  326.19  326.19
2017-12-14  327.65  324.74  324.74  324.74

[69 rows x 4 columns]