In [1]:
print(1)
print('A')
print('Number:', 1)

1
A
Number: 1

In [2]:
A = '변수1'
a = '변수2'
print('A:', A)
print('a:', a)

A: 변수1
a: 변수2

In [3]:
print(1)
print(2)

1
2

In [4]:
print(1)
   print(2)

IndentationError: unexpected indent (<ipython-input-4-ea5ae22bc8ce>, line 2)

In [5]:
B = '문장을 만들어볼까요?'
b = '긴 문장을 ' + \
    '한줄로 만들어볼까요?'
print(B)
print(b)

문장을 만들어볼까요?
긴 문장을 한줄로 만들어볼까요?

In [6]:
# 이것은 한 줄 주석 입니다.
p = 1     # 이 줄에서는 여기서부터가 주석입니다.
'''
삼중 따옴표 사이에 들어와도 다 주석입니다.
여러 줄 주석을 입력할 때 사용합니다.
'''
"""
p = 100
주석은 파이썬에 입력되지 않기 때문에 출력되지 않습니다.
"""
print(p)     # p 값을 출력하는 부분은 주석 앞에 있습니다.

1

In [7]:
i = 1
type(i)

int

In [8]:
f = 1.0
type(f)

float

In [9]:
i = float(i)     # 정수형을 소수형으로 변환
type(i)

float

In [10]:
c = 1 + 2j
type(c)

complex

In [11]:
s = '나는 문자'
s2 = '''나도
문자
'''
type(s)

str

In [12]:
print(s2)

나도
문자

In [13]:
x = 3
print(x)

3

In [14]:
print(x * 2)

6

In [15]:
print(x ** 2)     # x*x 도 같은 표현입니다.

9

In [16]:
print(x ** 3)     # 거듭제곱은 엑셀에서는 x^3 로 표현됩니다.

27

In [17]:
w1 = 'Py'
w2 = 'thon'
word = w1 + w2     # w1과 w2를 합하기
word

'Python'

In [18]:
word[0:2]     # 0부터 2까지

'Py'

In [19]:
word[1:4]     # 1부터 4까지

'yth'

In [20]:
word[:4]     # 처음부터 4까지

'Pyth'

In [21]:
word[4:]     # 4부터 끝까지

'on'

In [22]:
prices = [100, 200, 300, 400, 500]
prices

[100, 200, 300, 400, 500]

In [23]:
prices[0:2]

[100, 200]

In [24]:
prices[3]     # 첫 값은 0이므로 3을 지정하면 네번째 값이 나옵니다.

400

In [25]:
prices.append(600)     # append 할 때는 []이 아니고 ()를 사용합니다.
prices

[100, 200, 300, 400, 500, 600]

In [26]:
len(prices)

6

In [27]:
prices.remove(400)     # remove 할 때는 []이 아니고 ()를 사용합니다.
prices

[100, 200, 300, 500, 600]

In [28]:
len(prices)

5

In [29]:
prices.extend([700, 200])     # extend는 () 안에 []를 넣어줍니다.
prices

[100, 200, 300, 500, 600, 700, 200]

In [30]:
len(prices)

7

In [31]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
type(A)

set

In [32]:
A | B     # 합집합. A.union(B) 도 가능

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
A & B     # 교집합. A.intersection(B) 도 가능

{4, 5}

In [34]:
A - B     # 차집합

{1, 2, 3}

In [35]:
t = (1, 2, 3)
type(t)

tuple

In [36]:
d = {'Kim':123, 'Lee':456}
type(d)

dict

In [37]:
d['Choi'] = 789     # 딕셔너리에 데이터 추가
d

{'Choi': 789, 'Kim': 123, 'Lee': 456}

In [38]:
del d['Lee']     # 데이터 삭제
d

{'Choi': 789, 'Kim': 123}

In [39]:
d['Park'] = 134
len(d)

3

In [40]:
d.items()

dict_items([('Kim', 123), ('Choi', 789), ('Park', 134)])

In [41]:
d.keys()

dict_keys(['Kim', 'Choi', 'Park'])

In [42]:
d.values()

dict_values([123, 789, 134])

In [43]:
prices     # prices에 뭐가 담겼는지 확인 한번 해보고

[100, 200, 300, 500, 600, 700, 200]

In [44]:
for p in prices:     # prices 에 담긴 내용을 변수 p에 할당해서 루프를 돌림
    print('가격은 ', p, ' 입니다.')

가격은  100  입니다.
가격은  200  입니다.
가격은  300  입니다.
가격은  500  입니다.
가격은  600  입니다.
가격은  700  입니다.
가격은  200  입니다.

In [45]:
p = int(input())     
'''
input()으로 값을 입력받음
int는 입력받은 값을 정수형으로 변환
값을 정수형으로 변환해야 숫자로 인식해서 if문을 통해 대소 비교가 가능
'''
if p < 10000:     # 10000원보다 낮으면
    print('매수')
elif p > 10000:     # 10000원보다 높으면
    print('매도')
else:     # 위 조건이 모두 틀리다면
    print('중립')

11000
매도

In [46]:
def f(x):
    y = x + 1     # x는 함수를 호출받을 때 넘겨받은 인자이다
    return y

In [47]:
f(1)     # 함수를 호출하고 1을 인자로 전달해 결과값을 달라고 요청한다

2

In [48]:
f(f(1))     # f°f

3