KODEX_200.pkl - 코스피 지수를 추종하는 KODEX 200 ETF 상품의 일별 가격데이터 입니다.

KODEX_10Y_KTB.pkl - 10년국채선물지수의 변동률을 따라 가격이 변동하는 KODEX 국채선물10년 ETF 상품의 일별 가격데이터 입니다.
(http://blog.alphasquare.co.kr/221602425951?fbclid=IwAR1lAPJ50LyNIM2bMcUZYphXtpQfagZCZkWc4DTcwAcX6e8hT9U4zPvLJgY 참고)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [5]:
# KODEX 200 ETF 가격 데이터를 읽어와 데이터 프레임에 저장합니다. 
kospi_df = pd.read_pickle('/content/drive/My Drive/Python/finance/KODEX_200.pkl') 
kospi_df.head()

              close     high      low     open      volume
dt
2012-01-20  23197.4  23264.1  22801.9  22833.0  5205309.50
2012-01-25  23277.4  23539.6  23161.9  23197.4  7721437.00
2012-01-26  23299.6  23428.5  23237.4  23428.5  2162210.50
2012-01-27  23335.2  23419.6  23206.3  23419.6  3456417.50
2012-01-30  23073.0  23308.5  23050.8  23241.9  2899746.25

In [6]:
# KODEX 국채선물10년 ETF 가격 데이터를 읽어와 데이터 프레임에 저장합니다. 
ktb_df = pd.read_pickle('/content/drive/My Drive/Python/finance/KODEX_10Y_KTB.pkl') 
ktb_df.head()

              close     high      low     open  volume
dt
2012-01-20  49960.0  50040.0  49960.0  50040.0  3276.0
2012-01-25  49960.0  49960.0  49960.0  49960.0   100.0
2012-01-26  49930.0  49985.0  49925.0  49960.0  1161.0
2012-01-27  50000.0  57200.0  49810.0  57200.0   104.0
2012-01-30  50130.0  50130.0  50000.0  50000.0  1080.0